<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @conversation.subject %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @conversation.contact_id %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
